* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

// Variables
// Colours
$colors: (
  primary: #1593ff,
  primary-light: lighten(#1593ff, 40%),
  primary-dark: darken(#1593ff, 10%),
  light-blue: #abd4f2
);
// Font sizes
$fonts: (
  mobile-header: 24px,
  mobile-text: 22px,
  tablet-header: 32px,
  tablet-text: 30px,
  desktop-header: 44px,
  desktop-text: 40px
);

// Media Queries
// Responsiive mq values
$phone-sm: 375px;
$phone-lg: 414px;
$tablet-mini: 768px;
$tablet-sm: 834px;
$tablet-lg: 1024px;
$laptop-sm: 1440px;
$med-screen: 1880px;
$lg-screen: 2440px;
$tv: 2550px;

// Mixins
// Media queries
@mixin for-phone-only {
  @media screen and (max-width: $phone-lg) {
    @content;
  }
}
@mixin for-phone-up {
  @media screen and (min-width: $phone-lg) {
    @content;
  }
}
@mixin for-tablet-up {
  @media screen and (min-width: $tablet-mini) {
    @content;
  }
}
@mixin for-tablet-lg-up {
  @media screen and (min-width: $tablet-lg) {
    @content;
  }
}
@mixin for-desktop-up {
  @media screen and (min-width: $laptop-sm) {
    @content;
  }
}
@mixin for-desktop-only {
  @media screen and (max-width: $med-screen) {
    @content;
  }
}
// Get color mixin
@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Get font size mixin
@function font($font-tier) {
  @return map-get($fonts, $font-tier);
}

.container {
  // Navbar
  section.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 100vw;
    position: fixed;
    transition: ease-in-out 250ms;

    @include for-tablet-up() {
      padding: 0.5em 5em;
    }

    img {
      width: 150px;

      @include for-tablet-up() {
        width: 200px;
      }
    }

    .nav-button {
      color: color(primary);
      background: #b3d6f0;
      border: 1px solid color(primary);
    }

    .button:hover,
    .button.active:hover,
    .button-active-second:hover {
      cursor: pointer;
    }
    .button.active {
      border-color: rgba(128, 128, 128, 0.651);
      background: white;
    }
    .button.active:hover {
      border-color: color(primary);
    }
    button.active-second {
      background: color(primary);
      color: white;
      border-color: color(primary);
    }
    .button.active-second:hover {
      background-color: color(primary-dark);
    }
  }
  section.navbar.active {
    background: white;
  }
  // Landing
  section.landing {
    padding: 10rem 0 15em 1em;
    background-color: color(light-blue);
    background-image: url(/img/icons-background-phone.png);
    background-position: 25%;
    background-size: 175%;

    @include for-phone-up() {
      padding-left: 3em;
    }
    @media screen and (min-width: 578px) {
      background-image: url(/img/icons-background-tablet.png);
      background-size: 140%;
      background-position: 10%;
    }
    @include for-tablet-lg-up() {
      background-size: 120%;
    }
    @include for-tablet-up() {
      padding-left: 6em;
    }
    @include for-desktop-up() {
      padding: 12rem 0 15em 15em; // bottom padding subject to change
      // background-size: 100%;
      // background-position: -10%;
      background-image: url(/img/icons-background-desktop.png);
    }

    h1 {
      font-size: font(mobile-header);
      font-weight: 100;
      padding: 0.5em 0 1em 0;

      @media screen and (min-width: 578px) {
        font-size: 26px;
      }
      @include for-tablet-up() {
        font-size: font(tablet-text);
      }
      @include for-desktop-up() {
        font-size: font(desktop-text);
      }
    }
    h2 {
      font-size: font(mobile-header);

      @media screen and (min-width: 578px) {
        font-size: 28px;
      }
      @include for-tablet-up() {
        font-size: font(tablet-header);
      }
      @include for-desktop-up() {
        font-size: font(desktop-header);
      }
    }
    button {
      @include for-tablet-up() {
        font-size: 16px;
      }
      @include for-desktop-up() {
        font-size: 18px;
      }
    }
  }
  section.automate {
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 1em;

    .text {
      h3 {
        font-size: font(mobile-header);
        color: color(primary);
      }

      .point {
        margin: 1em 0;
        display: grid;
        grid-template: 0.2fr 1fr / 10fr 100fr;
        gap: 0.2em;
        max-width: 100vw;
        font-size: 18px;
        font-weight: 300;

        svg {
          color: color(primary);
          margin-right: 0.3em;
          justify-self: center;
        }

        .move-grid {
          grid-column: 2;
          font-weight: 100;
          font-size: 18px;
        }
      }
    }

    .img-div {
      justify-self: center;

      img {
        width: 80vw;
        height: auto;
      }
    }
  }
}

// helpers
.has-shadow {
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}
.button {
  color: #fff;
  background: color(primary);
  border: 1px solid color(primary);
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 14px;
  transition: ease-in-out 200ms;
  white-space: nowrap;
  line-height: 150%;
}
