* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables
// Colours
$colors: (
  primary: #1593ff,
  primary-light: lighten(#1593ff, 40%),
  primary-dark: darken(#1593ff, 10%),
  light-blue: #abd4f2
);

// Media Queries
// Responsiive mq values
$phone-sm: 375px;
$phone-lg: 414px;
$tablet-mini: 768px;
$tablet-sm: 834px;
$tablet-lg: 1024px;
$laptop-sm: 1440px;
$med-screen: 1880px;
$lg-screen: 2440px;
$tv: 2550px;

// Mixins
// Media queries
@mixin for-phone-only {
  @media screen and (max-width: $phone-lg) {
    @content;
  }
}
@mixin for-phone-up {
  @media screen and (min-width: $phone-sm) {
    @content;
  }
}
@mixin for-tablet-up {
  @media screen and (min-width: $tablet-mini) {
    @content;
  }
}
@mixin for-desktop-up {
  @media screen and (min-width: $laptop-sm) {
    @content;
  }
}
@mixin for-desktop-only {
  @media screen and (max-width: $med-screen) {
    @content;
  }
}
// Get color mixin
@function color($color-name) {
  @return map-get($colors, $color-name);
}

.container {
  section.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    background: color(light-blue);
    width: 100vw;
    position: fixed;
    transition: ease-in-out 250ms;

    @include for-tablet-up() {
      padding: 0.5em 5em;
    }

    img {
      width: 150px;

      @include for-tablet-up() {
        width: 200px;
      }
    }

    .nav-button,
    .button {
      color: color(primary);
      background: #b3d6f0;
      border: 1px solid color(primary);
      border-radius: 5px;
      padding: 0.5em 1em;
      font-size: 14px;
      transition: ease-in-out 200ms;
      white-space: nowrap;
    }
    .button:hover,
    .button.active:hover,
    .button-active-second:hover {
      cursor: pointer;
    }
    .button.active {
      border-color: rgba(128, 128, 128, 0.651);
      background: white;
    }
    .button.active:hover {
      border-color: color(primary);
    }
    button.active-second {
      background: color(primary);
      color: white;
      border-color: color(primary);
    }
    .button.active-second:hover {
      background-color: color(primary-dark);
    }
  }
  section.navbar.active {
    background: white;
  }
}

// helpers
.has-shadow {
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}

// content
.content {
  padding: 50rem 0;
}
